*.bat text eol=crlf
*.cmd text eol=crlf
*.java text eol=lf
*.scala text eol=lf
*.xml text eol=lf
*.py text eol=lf
*.R text eol=lf
*.win text eol=crlf
*.csv text eol=lf
*.sh text eol=lf
*.sql text eol=lf
*.out text eol=lf
*.bash text eol=lf
spark-build-info text eol=lf
mvn text eol=lf
sbt text eol=lf
spark-shell text eol=lf
spark-class text eol=lf
spark-sql text eol=lf
spark-submit text eol=lf
sparkR text eol=lf
beeline text eol=lf
find-spark-home text eol=lf
pyspark text eol=lf