*.bat text eol=crlf
*.cmd text eol=crlf
*.win text eol=crlf
*.csv text eol=lf
*.sh text eol=lf
*.sql text eol=lf
*.out text eol=lf
*.bash text eol=lf
*.java text eol=lf
*.scala text eol=lf
*.xml text eol=lf
*.py text eol=lf
*.R text eol=lf
spark-build-info text eol=lf
mvn text eol=lf
sbt text eol=lf
